@import url(Bootstrap/bootstrap.min.css);
@import url(Fonts/fontLoader.css);
@import url(Bootstrap/icons/bootstrap-icons.css);

@import "Variables";
@import "Mixins";

body{
    background-color: $secondaryColorLight1;
    font-family: $primaryFont;
    transition: $transitionMeduimSpeed;
}

.nav-date{
    color: $secondaryColorLight3;
}

.navbar-nav{
    .nav-item{
        border: 0.1rem solid $primaryColorLight5;
        margin: .1rem .5rem;
        border-radius: $rounded-1 !important;

        a{
            color: $primaryColorLight5 !important;
        }
    }

    .nav-item:hover{
        border: 0.1rem solid $primaryColorLight2;
        background-color: $primaryColorLight2;

        a{
            color: $primaryColorLight4 !important;
        }
    }
}

.dropdown-menu{
    border: none !important;
    background-color: $primaryColorLight1;
    border-radius: $rounded-2 !important;

    a:hover{
        background-color: $primaryColorLight2;
    }
}

.btn-primary{
    border-radius: $rounded-2;
    border: 0.1rem solid $secondaryColorLight2 !important;
    background-color: $secondaryColorLight1;
    color: $secondaryColorLight4;

}

.btn-primary:hover{
    border-radius: $rounded-2;
    border: 0.1rem solid $secondaryColorLight4 !important;
    background-color: $secondaryColorLight4;
    color: $secondaryColorLight1;

}

.btn-primary:focus{
    outline: $secondaryColorLight2 solid 0.2rem;
}

.nav-link{
    text-align: center;
}

.navbar-toggler{
    color: $primaryColorLight5;
    font-size: 18pt;
}

.navbar-toggler:hover{
    color: black;
    background-color: $primaryColorLight5;
}

.btn-submit{
    @include buttons($primaryColorLight1, $primaryColorLight4);
}

